<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link href="/css/results.css" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Allerta+Stencil">
        <title> <%= title %> </title>
    </head>
    <nav>
        <ul>
          <li><a href="/menu">Home</a></li>
          <li><a href="/companySearch">Company Search</a></li>
          <li><a class="active" href="/hedgeFundSearch">Hedge Fund Search</a></li>
          <li><a href="/investorSearch">Investor Search</a></li>
        </ul>
    </nav>
    <body>
        <div id="container">
            <p class="w3-xxxlarge" align="center">SEARCH RESULTS</p>

            <div id="searchResults">
                <table align="center">
                    <tr>
                        <th>Hedge Fund Name</th>
                        <th>Amount</th>
                        <th>Date</th>
                    </tr>
                    <% results.forEach(function(result){ %>
                        <tr>
                        <td> <%=result.name%> </td>
                        <td> <%=result.amount%> </td>
                        <td> <%=result.date%> </td>
                        </tr>
                    <% }) %>
                </table>
            </div>
            <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br>
            <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br>
            <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br>
        </div>



        <script type="text/javascript" src="/js/search.js"></script>
    </body>
</html>
