<% include partials/header %>

<style>
    input[type=text], select {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }

    input[type=submit] {
        width: 100%;
        background-color: blue;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

    input[type=submit]:hover {
        background-color: dodgerblue;
    }

    div {
        border-radius: 5px;
        background-color: #f2f2f2;
        padding: 20px;
    }
</style>

<br> <br> <br> <br> <br> <br> <br>
<h1 align="center"> ADMIN </h1>

<div>
  <form method="POST" action="/login">
    <label for="fname">User Name</label>
    <input type="text" id="uname" name="username" placeholder="Your user name..">

    <label for="fname">Password</label>
    <input type="text" id="pword" name="password" placeholder="Your password..">

    <input type="submit" value="Submit">
  </form>
</div>

<% include partials/footer %>
