<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link href="/css/menu.css" rel="stylesheet" type="text/css">
        <title> <%= title %> </title>
    </head>
    <body>
        <nav>
            <ul id="ul">
              <li id="li"><a class="active" href="/menu">Home</a></li>
              <li id="li"><a href="/companySearch">Company Search</a></li>
              <li id="li"><a href="/hedgeFundSearch">Hedge Fund Search</a></li>
              <li id="li"><a href="/investorSearch">Investor Search</a></li>
            </ul>
        </nav>

        <div id="left"></div>
        <div id="container">

        </div>
        <div id="right"></div>
    </body>
</html>
